@use "@styles/abstracts/functions" as *;

$font-family-primary:               -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-secondary:             "Open Sans", sans-serif;
$font-family-mono:                  "Courier New", Courier, monospace;

$font-size-text-mobile:             get-rem(16px);
$font-size-text-tablet:             get-rem(17px);
$font-size-text-desktop:            get-rem(18px);

$font-size-h1-mobile:               get-rem(32px);
$font-size-h2-mobile:               get-rem(28px);
$font-size-h3-mobile:               get-rem(24px);
$font-size-h4-mobile:               get-rem(20px);
$font-size-h5-mobile:               get-rem(18px);
$font-size-h6-mobile:               get-rem(16px);

$font-size-h1-tablet:               get-rem(36px);
$font-size-h2-tablet:               get-rem(32px);
$font-size-h3-tablet:               get-rem(28px);
$font-size-h4-tablet:               get-rem(22px);
$font-size-h5-tablet:               get-rem(19px);
$font-size-h6-tablet:               get-rem(17px);

$font-size-h1-desktop:              get-rem(40px);
$font-size-h2-desktop:              get-rem(36px);
$font-size-h3-desktop:              get-rem(32px);
$font-size-h4-desktop:              get-rem(24px);
$font-size-h5-desktop:              get-rem(20px);
$font-size-h6-desktop:              get-rem(18px);

$font-weight-thin:                  100;
$font-weight-extralight:            200;
$font-weight-light:                 300;
$font-weight-regular:               400;
$font-weight-medium:                500;
$font-weight-semibold:              600;
$font-weight-bold:                  700;
$font-weight-extrabold:             800;
$font-weight-black:                 900;

$line-height-text:                  1.5;
$line-height-heading:               1.25;